@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="jumbotron">
    <h1>KastBlog</h1>
    <p class="lead">Bilgilerinizi bizle paylaşın. Sitemiz ücretsiz ve kullanımı kolaydır.</p>
    <p><a href="../Account/Register" class="btn btn-primary btn-lg">Blogunuzu Hemen Oluşturun &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nasıl Çalışır?</h2>
        <p>
           Uzman olduğunuz alanlarda projelerinizi ve yazılarınızı 
            paylaşabilir yada uzman kişilerden yardım alabilirsiniz.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Hakkında</h2>
        <p>İnternet Tabanlı Programlama dersi projesi olarak Muhammet Furkan DEMİRAL tarafından yapılmıştır. Kullanımı tamamen ücretsizdir.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>İletişim</h2>
        <p>Sorularınızı <a href="mailto:mfrkndmrl@gmail.com">mfrkndmrl@gmail.com</a> adresine mail atabilirsiniz. En kısa zamanda dönüş yapılacaktır.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>